/**
     * @return boolean
     */
    public function get{{item.name|ucf}}()
    {
        return $this->{{item.name|lcf}};
    }

    /**
     * @return boolean
     */
    public function is{{item.name|ucf}}()
    {
        return ($this->{{item.name|lcf}} == true);
    }


    /**
     * @param boolean ${{item.name|lcf}}
     * @return self
     */
    public function set{{item.name|ucf}}(${{item.name|lcf}})
    {
        $this->{{item.name|lcf}} = ${{item.name|lcf}};
        return $this;
    }

